<form>
   <fieldset>
   <img id="finalegg" src="https://i.imgur.com/gVAi1Rz.png"><!-- this is where the egg could be rendered maybe? Alternatively, just use a dummy image -->
    <legend>Egg Pattern Generator</legend>
    <div id="wrapper">
      <div id="first">
          <label for="basecolor">Egg Base Color</label><input type="color" id="basecolor" value="#fff6de"><br>
          <label for="patterncolor">Egg Pattern Color</label><input type="color" id="patterncolor" value="#9ccd83">
      </div>   
    </div>
    <div id="btnsubmit">
      <input id="submit_pattern" type="submit" value="Randomize Pattern!" class="submit" formaction="pattern.php"> 
      <input id="submit_update" type="submit" value="Update Colors!" class="submit" formaction="color.php">
    </div>
  </fieldset>
</form>
