<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>My scratchboard page</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">My scratchpad</a>
            </div>
          </div>
        </nav>
        <div class="container">
            <table style="width:100%">
                <tr>
                    <th>Created</th>
                    <th>Mod Name</th>
                    <th>Action</th>
                    <th>Member Name</th>
                    <th>Notes</th>
                    <th>URL</th>
                </tr>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.created }}</td>
                            <td>{{ log.mod_name }}</td>
                            <td>{{ log.action_name }}</td>
                            <td>{{ log.member_name }}</td>
                            <td>{{ log.notes }}</td>
                            <td>{{ log.url }}</td>
                        </tr>
                    {% endfor %}
            </table><br><br>
            <div class="row">
                <form action="." method="POST">
                    <input type="text" name="mod_name", placeholder="Mod Name">
                    <select name="action_name">
                        {% for action in actions %}
                            <option value="{{ action.name }}">{{ action.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="member_name", placeholder="Member Name"><br>
                    <input type="url" name="my_url" placeholder="http://pokemonpledge.jcink.net/" size="100"><br>
                    <textarea class="form-control" name="notes" placeholder="Enter notes"></textarea><br>
                    <input type="submit" class="btn btn-success" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
